body {
  background-color: rgb(34, 39, 46);
  color: rgb(173, 186, 199);
  font-size: 16px;

  button {
    font-size: 32px;
    color: rgb(173, 186, 199);
    background-color: rgb(55, 62, 71);
    border: 1px solid rgba(205, 217, 229, 0.1);
    border-radius: 6px;
  }

  pre {
    background-color: black;
  }
}