# This workflow uses Microsoft Security DevOps to run security analysis
# on the codebase. For more information, visit:
# https://github.com/microsoft/security-devops-action
name: OSSAR

on:
  push:
    branches: [ master ]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [ master ]
  schedule:
    - cron: '22 14 * * 1'

permissions:
  contents: read
  security-events: write

jobs:
  OSSAR-Scan:
    runs-on: windows-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Run Microsoft Security DevOps
      uses: microsoft/security-devops-action@v1
      id: msdo

    - name: Upload results to Security tab
      uses: github/codeql-action/upload-sarif@v3
      with:
        sarif_file: ${{ steps.msdo.outputs.sarifFile }}
